<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light " id="navbar_header">
    <a class="navbar-brand" id="brand" href="index.html">Porfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#mc_embed_signup_scroll">Contacto <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#id-projects">Proyectos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sobre mi
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:8888/downloads/example.txt" target="_blank" rel="noopener" download="http://localhost:8888/downloads/example.txt">Curriculum</a>
            <a class="dropdown-item" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">Linkedin</a>
            <a class="dropdown-item" href="https://github.com/scj300?tab=repositories" target="_blank" rel="noopener noreferrer">GitHub</a>
          </div>
        </li> <!-- end Dropdown -->
      </ul>
      <form class="form-inline my-2 my-lg-0 form-header">
        <div class="nav-item dropdown">
            <!-- btn btn-outline-success my-2 my-sm- -->
          <button class="btn btn-secondary btn-md" id="button_log-in" type="button">Log in</button>
        </div>
      </form>
    </div> <!-- .navbar -->
  </nav>
</header> <!-- end .header -->
